		<div id="sidebar" class="sidebar sidebar-inverse">
			<!-- BEGIN scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- BEGIN nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>
					<li class="active"><a href="index.html"><i class="ti-home"></i><span>Home</span></a></li>
					<li class="nav-divider"></li>
					<li class="nav-header">Components</li>
					<li><a href="widgets.html"><i class="ti-shortcode"></i><span>Widgets</span></a></li>
					<li class="has-sub">
						<a href="javascript:;">
						    <b class="caret caret-right pull-right"></b>
						    <i class="ti-heart"></i>
						    <span>UI Kits</span> 
						</a>
						<ul class="sub-menu">
							<li><a href="ui_bootstrap.html">Bootstrap</a></li>
							<li><a href="ui_buttons.html">Buttons</a></li>
							<li><a href="ui_typography.html">Typography</a></li>
							<li><a href="ui_tabs_accordions.html">Tabs & Accordions</a></li>
							<li><a href="ui_modal_notification.html">Modal & Notification</a></li>
							<li><a href="ui_panels.html">Panels</a></li>
							<li><a href="ui_icons.html">Icons</a></li>
						</ul>
					</li>
				</ul>
				<!-- END nav -->
			</div>
			<!-- END scrollbar -->
		</div>