{% extends 'KmcKmcBundle::layout_subscription.html.twig' %}
{% block content %}

<script src="{{ asset('bundles/kmckmc/js/jquery.js') }}"></script>
<div id="stylized" class="myform">
    <h2>L'inscription à la saison n'est pas disponible</h2>
    <p>
        Désolé mais pour le moment vous ne pouvez pas encore vous inscrire... N'hésitez pas à visiter  <a href="http://www.kmc92.fr/">notre site</a>
    </p>
    <p>Merci et a trés bientôt pour l'entrainement !!</p>
</div>
{% endblock %}