<H2>Bonjour {{ firstname  }},</h2>
<p>La première étape de votre inscription à nos clubs de Krav Maga est validée.</p>

<p>Pour terminer le processus d'inscription, il vous suffit maintenant de constituer le dossier suivant :
<ul>
    <li>La fiche de pré-inscription (en pièce-jointe à cet e-mail) générée lors de votre pré-inscription sur le site.</li>
    <li>Le formulaire de licence pré-rempli (en pièce-jointe à cet e-mail) et signé.</li>
    <li>Un certificat d'aptitude à la pratique de Krav Maga.</li>
    <li>Une photo d'identité, collée sur la fiche d'inscription</li>
    <li>Le règlement de votre cotisation (En espèces ou par chèque bancaire à l'ordre indiqué sur la fiche de pré-inscription)</li>
</ul>
Et de le remettre à l'instructeur présent, au début d'un cours de votre niveau.</p>

<p>Si vous êtes débutant(e), nous vous remettons le Guide du Débutant pour vous accompagner dans les premières semaines de découverte de notre belle discipline ainsi qu'une ceinture blanche, symbole de votre nouvel engagement à nos côtés. La première d'une longue série, nous l'espérons.
Une fois équipé(e) des protections obligatoires (protèges tibias et coquille), vous pouvez commencer la pratique du Krav Maga.</p>

<p>Notre club vous propose des T-shirts d'entraînement, des pantalons exclusifs spécialement conçus pour la pratique du Krav Maga et des sweat-shirts pour compléter votre tenue. Cet équipement est disponible auprès des instructeurs du club.</p>

<p>Notre site www.kmc92.fr vous informe des divers stages et événements organisés au cours de la saison sportive et notre page Facebook est votre lien privilégié avec toute l'équipe et l'ensemble des pratiquant(e)s. Le prolongement sur le réseau de l'esprit de partage et de convivialité de nos clubs !</p>

<p>Enfin, nous souhaitons vous rappeler qu'une fois adhérent(e) de l'un de nos clubs, vous bénéficiez de l'accès à la totalité des cours proposés par l'ensemble de notre structure. Vous élaborez librement votre planning de cours en fonction de vos disponibilités, de votre rythme et de vos besoins.</p>

<p>Le contenu des cours est construit sur un cycle hebdomadaire. Ainsi, pour une semaine donnée, tous les cours de chaque niveau ont le même canevas. Les mêmes techniques y sont étudiées, enrichies de l'expérience et de la sensibilité de chaque instructeur. Pour un apprentissage efficace, nous vous conseillons une fréquence d'entrainement de deux fois par semaine. Le premier cours vous sert de base de découverte technique, le second vous permet de répéter et d'assimiler un peu plus le contenu. La semaine suivante, le programme change.</p>

<p>Vous ratez une semaine d'entrainement ? Pas de problème, chaque cours comprend des plages de révisions permettant de revenir sur des techniques apprises en les abordant sous de nouvelles perspectives.</p>

<p>Pour obtenir d'autres informations sur nos clubs et notre organisation, nous vous invitons à consulter notre <a href="http://www.kmc92.fr/index.php/krav-maga-92/faq.html">FAQ</a>.</p>

<p>Le début d'une très belle aventure.</p>
<p>Merci pour votre confiance.</p>
<p>Sportivement.</p>
<p>Yann VEILLERANT<br/>
Directeur Sportif<br/>
KMC92 / KMTC / KMB2 / KMCM</p>